*{
    padding: 0;
    margin: 0;
}



.tableStyle{
    max-width: 60%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px #dbdbdb;
    border-radius: 10px;
    max-height: 76vh;
    overflow: scroll;
    overflow-x: hidden;
}

.flexDiv{
    display: flex;
    margin: 20px auto;
    width: 60%;
    justify-content: space-between;
}

.retroceder{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #5F3473;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

.header{
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    color: #5F3473;
    margin-bottom: 20px;
}

.main-div{
    padding: 40px;
    width: 100%;
    /* max-height: 100vh; */
    overflow: hidden;
}

.ImputFiltro{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 2px #dbdbdb;
    padding: 0px 10px 0px 10px;
    border: none;
    margin-right: 20px;
}

.flex-content-inputs{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.button-filtro{
    width: 150px;
    height: 43px;
    border-radius: 5px;
    border: none;
    background-color: #5F3473;
    box-shadow: 0px 0px 3px 2px #dbdbdb;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    outline: none;
}

.tableStyle::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
.tableStyle::-webkit-scrollbar-track {
    background: #FAFAFA;        /* color of the tracking area */
}
  
.tableStyle::-webkit-scrollbar-thumb {
    background-color: #5F3473;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid 5F3473;  creates padding around scroll thumb */
}